
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/admin.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-fluid">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" id="watermeteruserAddform" lay-filter="Adduserinfoform">
                <div class="layui-form-item">
                    <label class="layui-form-label">水表厂商</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template>
                            <select name="factory" lay-search>
                                <option value="">请选择</option>
                                {{# layui.each(d.params[0], function(index, item){ }}
                                <option value="{{ item.bftid }}"> {{ item.factoryname }} </option>
                                {{# }); }}
                            </select>
                        </script>
                    </div>
                    <label class="layui-form-label">水表类型</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template>
                            <select name="metertype" lay-search>
                                <option value="">请选择</option>
                                {{# layui.each(d.params[2], function(index, item){ }}
                                <option value="{{ item.bmtid }}"> {{ item.metertypename }} </option>
                                {{# }); }}
                            </select>
                        </script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">口径</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template>
                            <select name="metermodel" lay-search lay-filter="addwatermeter_selcarialtigger">
                                <option value="">请选择</option>
                                {{# layui.each(d.params[3], function(index, item){ }}
                                <option value="{{ item.bmlid }}"> {{ item.dn }} </option>
                                {{# }); }}
                            </select>
                        </script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">初始读数</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="bwcode" id="bwcode" autocomplete="off" type="text">
                    </div>
                    <label class="layui-form-label">最大量程</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="caliber" disabled id="Add_caliber" autocomplete="off" type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">安装位置</label>
                    <div class="layui-input-block">
                        <script type="text/html" template>
                            <select name="installpos" lay-search>
                                <option value="">请选择</option>
                                {{# layui.each(d.params[1], function(index, item){ }}
                                <option value="{{ item.bipid }}"> {{ item.posname }} </option>
                                {{# }); }}
                            </select>
                        </script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">GIS位置</label>
                    <div class="layui-input-block">
                        <script type="text/html" template>
                            <input class="layui-input" name="GISPlace1" id="GISPlace1" autocomplete="off" type="text" value="">
                        </script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">GIS修正</label>
                    <div class="layui-input-block">
                        <input class="layui-input" name="GISPlace" id="GISPlace" autocomplete="off" type="text">
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="Add_Sub">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        layui.use(['admin', 'table', 'view', 'form'], function () {
            var admin = layui.admin,
                view = layui.view,
                table = layui.table,
                form = layui.form;
            form.render();
        })
    </script>
