
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/admin.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-fluid">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" id="watermeteruserEditform" lay-filter="Edituserinfoform">
                <div class="layui-form-item">
                    <label class="layui-form-label">户号</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template>
                            <input type="text" name="autoaccount" lay-verify="required" autocomplete="off" class="layui-input" value="{{d.params[0].autoaccount }}" disabled />
                        </script>
                    </div>
                    <label class="layui-form-label">户名</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template>
                            <input type="text" name="username" lay-verify="required" autocomplete="off" class="layui-input" value="{{d.params[0].username }}">
                        </script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-block">
                        <script type="text/html" template>
                            <input class="layui-input" name="telephone" id="telephone" autocomplete="off" type="text" value="{{d.params[0].telephone }}">
                        </script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">地址</label>
                    <div class="layui-inline">
                        <select id="editregionplace" name="regionplace" lay-filter="edit_region">
                            <option value="">所属区域</option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <select id="editareaname" name="areaname">
                            <option value="">所属小区</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <script type="text/html" template>
                            <input class="layui-input" name="address" id="address" autocomplete="off" type="text" value="{{d.params[0].address }}">
                        </script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <table class="layui-hide" id="editwatermeter" lay-filter="editwatermeter"></table>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="Edit_Sub" >
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo1">
    <a class="layui-btn layui-btn-warm " lay-event="editWatermeter">编辑</a>
</script>
<script type="text/html" id="barDemo2">
    <a class="layui-btn layui-btn-warm add_watermeter" lay-event="ATable">新增水表</a>
    <a class="layui-btn layui-btn-warm " lay-event="CTable">换表</a>
</script>
<script>
    layui.use(['admin', 'table', 'view', 'form'], function () {
        var admin = layui.admin,
            view = layui.view,
            table = layui.table,
            form = layui.form;
        form.render();
    })</script>
