
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/admin.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-fluid">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" id="EditWatermeterInfoForm" lay-filter="EditWatermeterInfoForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">口径</label>
                    <div class="layui-input-inline">
                        <select id="Edit_watermetermodel" name="editmetermodel" lay-search lay-filter="Edit_watermetermodel">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <label class="layui-form-label">初始底数</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template>
                            <input type="text" name="bwcode" lay-verify="required" autocomplete="off" class="layui-input" value="{{d.params.bwcode }}">
                        </script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">最大量程</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template>
                            <input type="text" name="caliber" id="Edit_watermeter_maxrange" lay-verify="required" autocomplete="off" class="layui-input" value="{{d.params.maxrange}}">
                        </script>
                    </div>
                    <label class="layui-form-label">安装位置</label>
                    <div class="layui-input-inline">
                        <select name="installpos" lay-search id="Edit_installpos">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">截止底数</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template>
                            <input type="text" name="lastwaternum" lay-verify="required" autocomplete="off" class="layui-input" value="{{d.params.lastwaternum}}">
                        </script>
                    </div>
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="meterstate" id="Edit_delflag">
                            <option value="3">已换表</option>
                            <option value="1">使用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">更换时间</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template>
                            <input type="text" name="updatemetertime" id="Edit_watermeter_updatemetertime" lay-verify="required" autocomplete="off" class="layui-input" value="">
                        </script>
                    </div>
                    <label class="layui-form-label">GIS位置</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template>
                            <input type="text" name="GISPlace" lay-verify="required" autocomplete="off" class="layui-input" value="{{d.params.GISPlace}}">
                        </script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="EditWatermeterinfo_Sub">
                        提交
                    </button>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            layui.use(['admin', 'table', 'view', 'form','laydate'], function () {
                var admin = layui.admin,
                    view = layui.view,
                    table = layui.table,
                    form = layui.form,
                    laydate = layui.laydate;

                form.render();
            })
        </script>
