<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument enabled="true">
            <files>
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
    <system.web>
        <identity impersonate="true" />
        <authentication mode="Forms" />
    </system.web>
</configuration>
