
<title>小区显示界面</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/admin.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-form" lay-filter="Areashowform" id="Areashowform" style="padding: 15px 0 0 0;">
    <div class="layui-fluid">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="area_table" lay-filter="area_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="area_barDemo">
    <a class="layui-btn layui-btn-sm layui-btn-warm " lay-event="area_edit" style="border-radius: 3px">编辑</a>
    <a class="layui-btn layui-btn-sm layui-btn-danger " lay-event="area_delete" style="border-radius:3px;">删除</a>
</script>
<script type="text/html" id="area_toolbarDemo">
    <a class="layui-btn layui-btn-sm " lay-event="area_add" style="border-radius: 3px">添加小区</a>
</script>
<script>
    layui.use(['admin', 'RegionManage', 'table', 'view', 'form'], function () {
        var admin = layui.admin,
            view = layui.view,
            table = layui.table,
            RegionManage = layui.RegionManage,
            form = layui.form;
        form.render();
    })
</script>
