
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/admin.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layui-form" lay-filter="Areaaddform" id="Areaaddform" style="padding: 15px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">小区名称</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="areaname" lay-verify="required" autocomplete="off" class="layui-input" >
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="area-add-submit" value="提交" class="layui-btn">
        </div>
    </div>
    </div>
    <script>
        layui.use(['admin', 'form', 'view'], function () {
            var $ = layui.$
                , form = layui.form,
                view = layui.view;
            form.render();

        });
    </script>
