<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/admin.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-form" id="PowerBox">
    <div class="layui-form-item">
        <label class="layui-form-label">增加权限:</label>
        <div class="layui-input-block AddBox"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">删除权限:</label>
        <div class="layui-input-block DelBox"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改权限:</label>
        <div class="layui-input-block EditBox"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">查看权限:</label>
        <div class="layui-input-block SeeBox"></div>
    </div>
</div>
<script type="text/javascript">
		layui.use(['form','admin','view'],function(){
            var form = layui.form
                , admin = layui.admin
                ,view=layui.view;
		});
</script>