
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/admin.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layui-form" lay-filter="Bookaddform" id="Bookaddform" style="padding: 15px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">抄表册名称</label>
        <div class="layui-input-inline">
            <input type="text" name="bookname" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--<div class="layui-form-item">
        <label class="layui-form-label">抄表册编号</label>
        <div class="layui-input-inline">
            <input type="text" name="bookno" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label">区域编号</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <select name="regionno" lay-filter="" lay-search>
                    <option value="">请选择</option>
                    {{# layui.each(d.params, function(index, item){ }}
                    <option value="{{ item.regionno }}">{{ item.regionname }}</option>
                    {{# }); }}
                </select>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">读表周期</label>
        <div class="layui-input-inline">
            <select name="readperiod" lay-filter="" lay-search>
                <option value="">请选择</option>
                <option value="11">月</option>
                <option value="21">单月</option>
                <option value="22">双月</option>
                <option value="31">季度1</option>
                <option value="32">季度2</option>
                <option value="33">季度3</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">抄表册种类</label>
        <div class="layui-input-inline">
            <script type="text/html" lay-url="{{layui.setter.requesturl}}/api/AppWebCommon/SearchDictionary/5" lay-done="layui.form.render('select');"template>
                <select name="booktype" lay-filter="" lay-search>
                    <option value="">请选择</option>
                    {{# layui.each(d.data, function(index, item){ }}
                    <option value="{{ item.parameterkey }}"> {{ item.parametervalue }} </option>
                    {{# }); }}
                </select>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <input type="text" name="remark" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="Book-add-submit" value="提交" class="layui-btn">
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['admin', 'form', 'view'], function () {
        var $ = layui.$,
            form = layui.form,
            view = layui.view;
        form.render('select');
    });
</script>