<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/admin.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-form" lay-filter="DistributeUserform" id="DistributeUserform">
    <div class="layui-inline">
        <div class="layui-inline">
            <!--<input class="layui-input" name="regionplace" id="regionplace" autocomplete="off" placeholder="所属区域">-->
            <script type="text/html" template lay-url="{{layui.setter.requesturl}}/api/BookManage/RegionShow" lay-done="layui.form.render('select')">
                <select name="regionplace" lay-search lay-filter="allotuser_showregion">
                    <option value="">请选择</option>
                    {{# layui.each(d.data, function(index, item){ }}
                    <option value="{{ item.regionno }}"> {{ item.regionname }} </option>
                    {{# }); }}
                </select>
            </script>
        </div>
    </div>
    <div class="layui-inline">
        <div class="layui-inline">
            <!--<input class="layui-input" name="areaname" id="areaname" autocomplete="off" placeholder="小区名称">-->
            <select name="areaname" id="allotuser_areaname" lay-search>
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">是否分配</label>
        <div class="layui-input-block">
            <select name="status" id="judeallot">
                <option value="0">未分配</option>
                <option value="1">已分配</option>     
            </select>
        </div>
    </div>
    <div class="layui-inline">
        <div class="layui-inline">
            <button class="layui-btn layui-btn-normal layui-btn-sm" lay-submit lay-filter="DiPolling">
                查询
            </button>
        </div>
    </div>
    <div class="layui-inline">
        <div class="layui-inline">
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="AddToBook">
                添加到抄表册
            </button>
        </div>
    </div>
    <table class="layui-hide" id="DistributeUserTable" lay-filter="test1"></table>
</div>
<script>
    layui.use(['admin', 'form', 'view'], function () {
        var $ = layui.$
            , form = layui.form,
            admin = layui.admin,
            view = layui.view;

    });
</script>
