<title>结转数据管理</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{layui.setter.base}}style/admin.css?v={{layui.admin.v}}-1" media="all" />
</script>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <table id="CarryDataShowTable" name="CarryDataShowTable" lay-filter="CarryDataShow"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="headerbutton">
    <div class="layui-btn-container">
        {{#
        var t_btn47=layui.data(layui.setter.tableName)[layui.setter.localbtnname].indexOf(47)===-1?"none":"inline-block";
        var t_btn49=layui.data(layui.setter.tableName)[layui.setter.localbtnname].indexOf(49)===-1?"none":"inline-block";
        }}
        <button class="layui-btn layui-btn-sm" lay-event="CreateBills" style="border-radius:3px;display: {{t_btn47}}">批量生成账单</button>
        <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="ManyChanges" style="border-radius:3px;display: {{t_btn49}}">批量调整用量</button>
    </div>
</script>
<script type="text/html" id="CarrtOverData_btnContainer">
    {{#
        var t_btn51=layui.data(layui.setter.tableName)[layui.setter.localbtnname].indexOf(51)===-1?"none":"inline-block";
        var t_btn52=layui.data(layui.setter.tableName)[layui.setter.localbtnname].indexOf(52)===-1?"none":"inline-block";
        var t_btn53=layui.data(layui.setter.tableName)[layui.setter.localbtnname].indexOf(53)===-1?"none":"inline-block";
        if (d.bookkeepingcount == null) {
    }}
        <button  class="layui-btn layui-btn-warm layui-btn-sm" lay-event="Change" style="border-radius:3px;display: {{t_btn51}}">调整用量</button>
        <button  class="layui-btn  layui-btn-sm" lay-event="ReCarryOver"style="border-radius:3px;display: {{t_btn52}}" >重新结转</button>
        <button class="layui-btn  layui-btn-sm" lay-event="ReCreateBill" style="border-radius:3px;display: {{t_btn53}}">重新生成账单</button>
    {{# }else { }}
    <button class="layui-btn layui-btn-sm" lay-event="ReCreateBill" style="border-radius:3px;display: {{t_btn53}}">重新生成账单</button>
    {{# } }}
</script>
<script>

    layui.use('CarryOverDataManage', layui.factory('CarryOverDataManage')).use(['admin', 'CarryOverDataManage', 'table', 'form', 'view'], function () {
        var admin = layui.admin
            , table = layui.table
            , form = layui.form
            , view = layui.view;
        form.render();
    });
</script>
