
<script type="text/html" template>
        <link rel="stylesheet" href="{{ layui.setter.base }}style/admin.css?v={{ layui.admin.v }}-1" media="all">
</script>
<div class="layui-form" lay-filter="layui-Page-Power-Setting" id="layui-Page-Power-Setting">
    <div class="layui-form-item">
        <label class="layui-form-label">增加权限URL:</label>
        <div class="layui-input-inline">
            <input type="text" name="Power" autocomplete="off" placeholder="请输入URL" class="layui-input Add">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Power" autocomplete="off" placeholder="请输入URL" class="layui-input Add">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Power" autocomplete="off" placeholder="请输入URL" class="layui-input Add">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Power" autocomplete="off" placeholder="请输入URL" class="layui-input Add">
        </div>
        <div class="layui-input-inline" style="margin-left:110px;">
            <input type="text" name="Power" autocomplete="off" placeholder="请输入URL" class="layui-input Add">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Power" autocomplete="off" placeholder="请输入URL" class="layui-input Add">
        </div>
    </div>
    <hr class="layui-bg-black">
    <div class="layui-form-item">
        <label class="layui-form-label">删除权限URL:</label>
        <div class="layui-input-inline">
            <input type="text" name="Del" id="Del" autocomplete="off" placeholder="请输入URL" class="layui-input Del" />
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Del" id="Del" autocomplete="off" placeholder="请输入URL" class="layui-input Del" />
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Del" id="Del" autocomplete="off" placeholder="请输入URL" class="layui-input Del" />
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Del" id="Del" autocomplete="off" placeholder="请输入URL" class="layui-input Del" />
        </div>
        <div class="layui-input-inline" style="margin-left:110px;">
            <input type="text" name="Del" id="Del" autocomplete="off" placeholder="请输入URL" class="layui-input Del" />
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Del" id="Del" autocomplete="off" placeholder="请输入URL" class="layui-input Del" />
        </div>
    </div>
    <hr class="layui-bg-black">
    <div class="layui-form-item">
        <label class="layui-form-label">修改权限URL:</label>
        <div class="layui-input-inline">
            <input type="text" name="Modified" id="Modified" autocomplete="off" placeholder="请输入URL" class="layui-input Modified" />
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Modified" id="Modified" autocomplete="off" placeholder="请输入URL" class="layui-input Modified" />
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Modified" id="Modified" autocomplete="off" placeholder="请输入URL" class="layui-input Modified" />
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Modified" id="Modified" autocomplete="off" placeholder="请输入URL" class="layui-input Modified" />
        </div>
        <div class="layui-input-inline" style="margin-left:110px;">
            <input type="text" name="Modified" id="Modified" autocomplete="off" placeholder="请输入URL" class="layui-input Modified" />
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Modified" id="Modified" autocomplete="off" placeholder="请输入URL" class="layui-input Modified" />
        </div>
    </div>
    <hr class="layui-bg-black">
    <div class="layui-form-item">
        <label class="layui-form-label">查看权限URL:</label>
        <div class="layui-input-inline">
            <input type="text" name="Select" id="Select" autocomplete="off" placeholder="请输入URL" class="layui-input Select" />
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Select" id="Select" autocomplete="off" placeholder="请输入URL" class="layui-input Select" />
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Select" id="Select" autocomplete="off" placeholder="请输入URL" class="layui-input Select" />
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Select" id="Select" autocomplete="off" placeholder="请输入URL" class="layui-input Select" />
        </div>
        <div class="layui-input-inline" style="margin-left:110px;">
            <input type="text" name="Select" id="Select" autocomplete="off" placeholder="请输入URL" class="layui-input Select" />
        </div>
        <div class="layui-input-inline">
            <input type="text" name="Select" id="Select" autocomplete="off" placeholder="请输入URL" class="layui-input Select" />
        </div>
    </div>
</div>
<script>
    layui.use(['admin', 'form'], function () {
        var $ = layui.$
            , form = layui.form;

    });
</script>