<title>抄表员量化汇总分析</title>

<script type="text/html" template>
    <link rel="stylesheet" href="{{layui.setter.base}}style/admin.css?v={{layui.admin.v}}-1" media="all" />
</script>
<div class="layui-fluid ">
    <div class="layui-row" lay-filter="test">
        <div class="layui-col-md12">
            <div class=" layui-card">
                <div class="layui-card-header layui-form layuiadmin-card-header-auto">
                    <div class="layui-inline">
                        <label class="layui-form-label">抄表月份</label>
                        <div class="layui-inline">
                            <input class="layui-input" name="readDatetime01" autocomplete="off" width="140" id="date_sumshort02" placeholder="yyyyMM" />

                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">抄表员</label>
                        <div class="layui-inline" id="readername">
                            <select id="mrreadername" name="mrreadername" width="140">
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="number_Search01" class="layui-btn layui-btn-normal  " style="border-radius:3px" lay-submit lay-filter="number_Search01">查询</button>
                        <a class="layui-btn  layui-btn-normal  " style="border-radius:3px" lay-filter="btn_export02" id="btn_export02">导出</a>

                    </div>
                </div>
                <div class="layui-card-body">
                    <table id="dataAnalysis_SumInfo_Table" lay-filter="dataAnalysis_SumInfo" class="layui-hide"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md6" >
            <div id="container" style="height: 600px;width:600px;"></div>
        </div>
        <div class="layui-col-md6">
            <div id="container01" style="height: 600px;width:600px;"></div>
        </div>
    </div> 
</div>
 
<script type="text/javascript">
    layui.use('ReadAnalysis_Sum', layui.factory('ReadAnalysis_Sum')).use(['admin', 'table', 'form', 'view', 'laydate', 'echarts'], function () {
        var admin = layui.admin
            , table = layui.table
            , form = layui.form
            , view = layui.view
            , laydate = layui.laydate
            , $ = layui.$;
        form.render();
        laydate.render({
            elem: '#date_sumshort02',
            type: 'month',
            format: 'yyyyMM'
        });
    });
</script>
