<title>派工单管理</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/login.css?v={{ layui.admin.v }}-1" media="all">
</script>

<script type="text/html" id="DSMbarDemo">
    <a class="layui-btn layui-btn-warm " lay-event="DSMAcceptance">受理</a>
    <a class="layui-btn layui-btn-warm " lay-event="DSMEdit">编辑</a>
    <a class="layui-btn layui-btn-warm " lay-event="DSMDelte">删除</a>
</script>

<div class="layui-fiuld">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header layui-form layuiadmin-card-header-auto">
                <div class="layui-inline">
                    <label class="layui-form-label">编号:</label>
                    <div class="layui-inline">
                        <input class="layui-input" type="text" name="DSMNumber" autocomplete="off" placeholder="请输入编号       "/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">状态:</label>
                    <div class="layui-input-block">
                        <select>
                            <option value="">请选择</option>
                            <option value="1">未受损</option>
                            <option value="2">已受理</option>
                            <option value="3">已处理</option>
                            <option value="4">已存档</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">故障类型:</label>
                    <div class="layui-input-block">
                        <select>
                            <option value="">请选择</option>
                            <option value="1">表埋</option>
                            <option value="2">表坏</option>
                            <option value="3">漏水</option>
                            <option value="4">其他</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">时间:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="StarTime" id="StarTime" lay-verify="StarTime" placeholder="开始时间" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input type="text" name="EndTime" id="EndTime" lay-verify="EndTime" placeholder="完成时间" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-normal layui-btn-radius" lay-submit lay-filter="DSM_polling">
                        查询
                    </button>
                </div>
            </div>
            <div class="layui-card-body">
                <table class="layui-hide" id="DSMShow" lay-filter="DSM" ></table>
            </div>
        </div>
    </div>
</div>