<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/admin.css?v={{ layui.admin.v }}-1" media="all">
</script>

<div class="layui-form" lay-filter="layui-Page-Edit" id="layui-Page-Edit">
    <div class="layui-form-item">
        <label class="layui-form-label">权限名称:</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="OperationName"  autocomplete="off" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称:</label>
        <div class="layui-input-inline">
            <select name="menuid-edit" id="menuid-edit" lay-search="">

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限种类:</label>
        <div class="layui-input-inline">
            <select name="operationclass" lay-filter="operationclass" id="operationclass">
                <option value="-1">请选择</option>
                <option value="0">增加</option>
                <option value="1">删除</option>
                <option value="2">修改</option>
                <option value="3">查看</option>
                <option value="4">其他种类</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">按钮Class名称:</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="btnClassName" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">按钮事件名称:</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="btneventName" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">按钮容器属性:</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="btnContainer" />
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-Edit-submit" id="LAY-Edit-submit" value="确认">
    </div>
</div>
<script>
    layui.use(['admin','table','form','view','jquery','autocomplete'], function () {
        var $ = layui.$
            , admin = layui.admin
            , table = layui.table
            ,view=layui.view
            , form = layui.form;
    });
</script>