<title>审核</title>

<script type="text/html" template>
    <link  rel="stylesheet" href="{{layui.setter.base}}style/admin.css?v={{layui.admin.v}}-1" media="all"/>
</script>

<div class="layui-fiuld">
    <div class="layui-row">
        <div class="layui-col">
            <div class="layui-card layui-form" id="CheckForm">
                <div class="layui-card-header layuiadmin-card-header-auto">
                    <div class="layui-inline">
                        <label class="layui-form-label">户号:</label>
                        <div class="layui-inline">
                            <script type="text/html" template>
                                <label class="layui-form-label" style="width:auto">{{d.params.account}}--{{d.params.username}}</label>                                
                            </script>
                        </div>                    
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">表号:</label>
                        <div class="layui-inline">
                            <script type="text/html" template>
                                <label class="layui-form-label" style="width:auto">{{d.params.meternum}}--{{d.params.metername}}--{{d.params.regionname}}--{{d.params.areaname}}</label>                 
                            </script>
                        </div>                                            
                    </div>
                </div>
                <div class="layui-card-body">
                    <table id="rechecktable" lay-filter="rechecktable"></table>
                    <div>
                        <script type="text/html" template>
                            <textarea id="Remark" class="layui-textarea">{{d.params.recheckresult}}</textarea>
                        </script>                     
                        <div>
                            <div class="layui-inline">
                                <input  type="radio" value="0" title="通过" name="Pass" lay-verify="required"/>
                                <input  type="radio" value="1" title="不通过" name="Pass" lay-verify="required"/>
                            </div>
                            <div class="layui-inline">
                                <select name="checked" id="checked" lay-filter="checked">
                                    <option value="">请选择</option>
                                    <option value="实抄" >实抄</option>
                                    <option value="估抄">估抄</option>
                                    <option value="需要到现场核查" >需要到现场核查</option>
                                    <option value="不需要到现场核查">不需要到现场核查</option>
                                </select>
                            </div>
                            <div class="layui-inline" style="align-content:center">
                                <button class="layui-btn layui-btn-sm layui-btn-normal" id="SubmitChecked" name="SubmitChecked" lay-submit lay-filter="SubmitChecked">确认审核</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['admin', 'table', 'form', 'view','jquery'], function () {
           var admin = layui.admin
            , table = layui.table
            , form = layui.form
               , view = layui.view
               , $ = layui.$;
        form.render();
        table.on('tool(rechecktable)', function(obj){
          var data = obj.data; //获得当前行数据
          var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
          var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
 
          if(layEvent === 'seephoto'){ //查看
              console.log(data);
              //layer.photo();checkdata-seephoto
              admin.popup({
                  id: "recheckdata-Seephoto",
                  area: ['800px', '500px'],
                  title: '查看图片',
                  success: function () {
                      view(this.id).render('DataManage/Seephoto', data).done(function () {
                          var photoobject = data.pircture.split(',');
                          var phototype=data.phototype.split(',');
                          var rhtml = "";
                          for (var i = 0; i < photoobject.length; i++) {
                              if (phototype[i] == 1) {
                                  rhtml += `<div style="text-align:center;margin-top:20px"><img style="width:600px;height:500px" src="${photoobject[i]}" title="表盘抄表图片"><div style="font-size:20px;color:#FF2D2D">图片${i+1}--表盘抄表图片</div></div>`;
                              }
                              else if (phototype[i] == 2) {
                                   rhtml += `<div style="text-align:center;;margin-top:20px""><img style="width:600px;height:500px" src="${photoobject[i]}"  title="现场图片"><div style="font-size:20px;color:#FF2D2D">图片${i+1}--现场图片</div></div>`;
                              }
                          }
                          $("#checkdata-seephoto").html(rhtml);

                      });
                  }
              });
          }
        });
    });
</script>