<script type="text/html" template>
    <link rel="stylesheet" href="{{layui.setter.base}}style/admin.css?v={{layui.admin.v}}-1" media="all" />
</script>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card layui-form" id="RecheckHistoryData">
                <div class="layui-card-header  layuiadmin-card-header-auto">
                    <div class="layui-inline">
                        <label class="layui-form-label">户号:</label>
                        <div class="layui-inline">
                            <script type="text/html" template>
                                <label class="layui-form-label" style="width:auto">{{d.params.account}}--{{d.params.username}}</label>
                            </script>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">表号:</label>
                        <div class="layui-inline">
                            <script type="text/html" template>
                                <label class="layui-form-label" style="width:auto">{{d.params.meternum}}--{{d.params.regionname}}--{{d.params.areaname}}--{{d.params.address}}</label>
                            </script>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table id="RecheckHistoryDataTable" name="RecheckHistoryDataTable" lay-filter="RecheckHistoryDataTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['admin', 'table', 'form', 'view', 'jquery'], function () {
        var admin = layui.admin
            , table = layui.table
            , form = layui.form
            , view = layui.view
            , $ = layui.jquery;
        form.render();
        table.on('tool(RecheckHistoryDataTable)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'seehistoryphoto') { //查看

                //layer.photo();checkdata-seephoto
                admin.popup({
                    id: "recheckdata-Seehistoryphoto",
                    area: ['800px', '500px'],
                    title: '查看历史图片',
                    success: function () {
                        view(this.id).render('DataManage/SeeHistoryPhoto', data).done(function () {
                            var photoobject = data.pirctureurl.split(',');
                            var phototype = data.phototype.split(',');
                            var rhtml = "";
                            for (var i = 0; i < photoobject.length; i++) {
                                if (phototype[i] == 1) {
                                    console.log(photoobject[i]);
                                    rhtml += `<div style="text-align:center;margin-top:20px"><img style="width:600px;height:500px" src="${photoobject[i]}" title="表盘抄表图片"><div style="font-size:20px;color:#FF2D2D">图片${i + 1}--表盘抄表图片</div></div>`;
                                }
                                else if (phototype[i] == 2) {
                                    rhtml += `<div style="text-align:center;;margin-top:20px""><img style="width:600px;height:500px" src="${photoobject[i]}"  title="现场图片"><div style="font-size:20px;color:#FF2D2D">图片${i + 1}--现场图片</div></div>`;
                                }
                            }
                            $("#recheckdata-seehistoryphoto").html(rhtml);

                        });
                    }
                });
            }
        });
    });
</script>